# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Folders
00_resources/
00_Admin/
00_Draft_Template
DRAFT/
OLD/
05_Regional_Climate_Trends/Data/
05_Regional_Climate_Trends/Guides/OLD/
05_Regional_Climate_Trends/Guides/*.log
05_Regional_Climate_Trends/Guides/*.tex
05_Regional_Climate_Trends/Guides/*.concordance.tex
05_Regional_Climate_Trends/Guides/*.synctex.gz
05_Regional_Climate_Trends/Guides/figure
06_Advection_Diffusion/figure
06_Advection_Diffusion/*.log
# Guides
# 01_Introduction_to_R/*.log




